# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

negotiation-frontend/node_modules
negotiation-frontend/dist
negotiation-frontend/dist-ssr
negotiation-frontend/*.local

backend/node_modules
backend/dist
backend/dist-ssr
backend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/.env
negotiation-frontend/.env